body {
  margin: 0px;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

#mainContainer {
  width: 80%;
  height: auto;
  --margin: 10px;
  --pairHeight: calc(.35 * (100% - 4 * var(--margin)))
}

#mainContainer > * {
  margin: var(--margin);
  border: black 1px solid;
  border-radius: 7px;
}

#pendingWindow {
  width: auto;
  height: var(--pairHeight);
}

#bookCreator {
  width: auto;
  height: calc(.2 * var(--pairHeight));
  display: flex;
  align-items: center;
  justify-content: center;
}

#bookCreator > * {
  display: inline-block;
}

#bookCreator span * {
  margin: 2px;
}

#completedWindow {
  width: auto;
  height: var(--pairHeight);
}

