:root {
  --background: lightgrey;
  --secondary: white;
  --borderRadius: 5px;
  --margin: 10px;
}

body {
  background-color: var(--background);
  margin: 0px;
}

#root {
  display: flex;
  justify-content: center;
}

#mainContainer {
  width: 95%;
  height: auto;
  --internalMargin: 3px;
  --pairHeight: calc(.4 * (100vh - 4 * var(--margin)));
  --itemHeight: calc((var(--pairHeight) + var(--internalMargin)) / 11);
}

#mainContainer > * {
  margin: var(--margin);
  border: black 1px solid;
  border-radius: var(--borderRadius);
  background-color: var(--secondary);
  overflow: scroll;
}

/* not responding? under or over specified?
#mainContainer > * > h4 {
  position: sticky;
}
*/

#mainContainer > * > * {
  margin: var(--internalMargin);
}

#pendingWindow, #completedWindow {
  width: auto;
  min-height: 2.1cm; 
  height: var(--pairHeight);
  padding: var(--margin) var(--internalMargin);
}

#bookCreator {
  padding: var(--internalMargin);
  display: flex;
  align-items: center;
  gap: var(--internalMargin);
}

#bookCreator .book {
  width: 100%;
}

#completedWindow .book input[name=startDate], #completedWindow .book input[name=endDate] {
  border: none;
  background-color: inherit;
  margin: 0px;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: var(--internalMargin);
  height: var(--itemHeight);
  min-height: .7cm;
  max-height: 1.2cm;
  border: black 1px solid;
  border-radius: var(--borderRadius);
  background-color: var(--background);
}

.book input {
  margin: var(--internalMargin);
  width: 100%;
  border: black 1px solid;
  border-radius: var(--borderRadius);
}

.book input[name=position], .book input[name=year] {
  max-width: 1.1cm;
}

.book input[name=doi] {
  max-width: 5cm;
}

.book input[name=author] {
  max-width: 5cm;
}

.book input[name=startDate], .book input[name=endDate] {
  max-width: 2.95cm;
}

.book button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: calc(100% - 2 * var(--internalMargin));
  margin: var(--internalMargin);
  white-space: nowrap;
}

.year span {
  display: flex;
  align-items: center;
  justify-content: start;
}

.year span > * {
  margin: var(--internalMargin);
}

.year span > button {
  background-color: inherit;
  border: none;
}

#popupContainer {
  --percentage: 0.7;
  --height: calc(var(--percentage) * 100vh);
  --width: calc(var(--percentage) * 100vw);

  padding: var(--margin);
  background-color: var(--background);
  border: black 1px solid;
  border-radius: var(--borderRadius);
  z-index: 2;

  position: absolute;
  height: var(--height);
  width: var(--width);
  top: calc((100vh - var(--height)) / 2);
  left: calc((100vw - var(--width)) / 2);
}
